* {margin:0; padding:0; font:12px Arial}
code {font-family:Arial}

#options {width:auto; margin:20px auto; text-align:right; color:#9ac1c9}
#options a {text-decoration:none; color:#9ac1c9}
#options a:hover {color:#033}

.acc {width:740px; list-style:none; /*margin-top:-10px;*/}

.acc h2 {width:728px; /*border-bottom:1px solid*/ padding:3px 0px; font-weight:bold; margin-top:0px; cursor:pointer;border-bottom-image:url(bline.html) 30 30 round;}
.acc h3 {/*width:725px;*/ border-bottom:1px solid #F9E7B2; padding: 10px 6px 6px 6px; font-weight:bold; margin-top:0px; cursor:pointer;}
.acc h3:hover {/*background:url(images/header_over.gif)*/}
/*.acc li {background-color: #F9F2DE;}*/
.acc .acc-section { background:#fff}
.acc .acc-content {width:740px; background:#fff;}

#nested {width:646px; list-style:none; color:#033; margin-bottom:15px}
#nested h3 {/*width:628px;*/ border:1px solid #9ac1c9; padding:3px 0px; font-weight:bold; margin-top:5px; cursor:pointer; background:url(images/header.html)}
#nested h3:hover {/*background:url(images/header_over.gif)*/}
#nested .acc-section {background:#fff;background-color: #F9F2DE;}
#nested .acc-content {width:640px; padding:0px; border:1px solid #9ac1c9; border-top:none; background:#fff}
#nested .acc-selected {background:url(images/header_over.html)}

.acc .acc .acc-content  table {
    width: 100%;
}

.acc .acc .acc-content  table td {
    padding: 3px;
    text-align: right;
}

.acc .acc h3 {
    width:729px;
    color:#FF7E00;
    /*background-color: #F9F2DE;*/
}
.acc .acc .acc-content {
    /*width:638px;
    padding: 0 50px;*/
    background-color: #F9F2DE;
    
}
.acc .acc .acc-section {
    width: 740px;
    
    border-bottom:1px solid #F9E7B2;
}

#allCurrentOrderTotal {
    font-size: 18px;
    font-weight:bold;
}
ul.acc li.parent {
   
}
ul.acc li.parent:first-child {
   border-top: 1px solid #FF7E00;
   margin-top: 12px;
}
.bottomline {background: url('../../../../public/images/bline.html') repeat ;height:6px;margin-left: -8px;width: 743px;}
/* {border:'1px solid #F9E7B2'}*/
.rbottomline {border:1px solid #F9E7B2;width:738px;height:1px; /*margin-left:-6px;*/}
/*.oline{background: url("/public/images/boline.png") repeat;height:6px;margin-bottom:-12px;margin-top:10px}*/
.coline {background: url("../../../../public/images/boline.html") repeat;height: 6px;margin-left: -10px;margin-top: 15px;width: 739px;}
