/* 
	author: istockphp.com
*/
 
#backgroundPopup { 
	z-index:1;
	position: fixed;
	display:none;
	height:100%;
	width:100%;
	background:#000000;	
	top:0px;  
	left:0px;
}
#toPopup {
	font-family:arial,sans-serif;
    background: #f9f9f9;
    border: 3px solid #f99b3e;
    border-radius: 10px;
	-webkit-border-radius: 10px;
-moz-border-radius: 10px;
    color: #434343;
    display: none;
	font-size: 14px;
    left: 50%;
    margin-left: -170px;
    position: fixed;
    top: 15%;
    width: 288px;
    z-index: 2;
	padding:20px;
}
div.loader {
    background: url("../images/loading.gif") no-repeat scroll 0 0 transparent;
    height: 32px;
    width: 32px;
	display: none;
	z-index: 9999;
	top: 40%;
	left: 50%;
	position: absolute;
	margin-left: -10px;
}
div.close {
    background: url("../images/closebox.png") no-repeat scroll 0 0 transparent;
    bottom:34px;
    cursor: pointer;
    float: right;
    height: 30px;
    left: 34px;
    position: relative;
    width: 30px;
}
span.ecs_tooltip {
    background: none repeat scroll 0 0 #efefef;
    border-radius: 2px 2px 2px 2px;
    color: #333;
    display: none;
    font-size: 11px;
    height: 16px;
    opacity: 0.7;
    padding: 4px 3px 2px 5px;
    position: absolute;
    right: -62px;
    text-align: center;
    top: -40px;
    width: 93px;
}
.fancybox-wrap{ width:318px !important; left:500px !important; }
*{ margin:0; padding:0;}
.fancybox-inner{ width:288px !important; float:left !important; height:560px !important;}
.fancybox-skin{ border:3px solid #F99B3E !important; -webkit-border-radius: 5px !important; -moz-border-radius: 5px !important; border-radius: 5px !important;}


#popup_content{ float:left; width:288px;}
#popup_content ul{ float:left; width:100%; margin-top:-15px;}
#popup_content ul li{ list-style:none; float:left; margin-top:20px; width:100%;}
#popup_content ul li label{ line-height:28px; float:left; width:100%;}
#popup_content ul li input[type="text"]{ border:1px solid #aeaeae; width:286px; height:30px; float:left; background:#fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
#popup_content ul li select{ border:1px solid #aeaeae; width:286px; height:30px; float:left; background:#fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; font-size:12px; color:#464646; border-radius: 5px; padding:5px;}
#popup_content ul li input[type="radio"]{ float:left; margin-right:6px; width:20px;}
#popup_content ul li input[type="submit"]{ background:url(../images/btn_update.png) no-repeat; width:92px; height:34px; font-size:0px; border:0px; cursor:pointer;}
#popup_content ul li input[type="button"]{ background:url(../images/btn_save.png) no-repeat; width:92px; height:34px; font-size:0px; border:0px; cursor:pointer;}
#popup_content ul li p{ color:#797979; float:left; margin-right:20px;}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family:Gotham, Helvetica, Arial, sans-serif;
	color:#5f5f5f; font-size:14px;
}
table, tr, td, th { margin:0px; padding:0px;}
.add_title{ border:1px solid #cecece; padding-left:10px; text-transform:uppercase; color:#5f5f5f; font-size:16px;}
.form_bg{ border:1px solid #cecece; border-top:0px !important; color:#5f5f5f; font-size:12px;}
.td_brdr{ border-bottom:1px solid #fff; color:#fff; font-size:14px; text-transform:uppercase;}
.mar_lft{ margin-left:10px;}
.lft_menu{  color:#fff; font-size:16px; text-transform:uppercase;}
.lft_menu a{ display: block; background:url(../images/arw_bullets.png) no-repeat 12px 12px; padding-left:46px; text-decoration:none; color:#fff; width:152px; height:28px; padding-top: 12px; }
.lft_menu:hover{ background:#ff7e00}
.active{ background:#ff7e00}
.input_text{ border:1px solid #aeaeae; width:150px; height:30px; float:right; background:#fff; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;}
.select_text{ border:1px solid #aeaeae; width:168px; height:30px; float:right; background:#fff; -webkit-border-radius: 5px;
-moz-border-radius: 5px; font-size:12px; color:#464646;
border-radius: 5px; padding:5px 2px;}
.select_customer{ border:1px solid #aeaeae; width:125px; height:25px; float:right; background:#fff; -webkit-border-radius: 5px;
-moz-border-radius: 5px; font-size:12px; color:#464646;
border-radius: 5px; padding:4px 2px;}
.add_btn { background:url(../images/add_btn.png) no-repeat; width:82px; height:34px; border:0px;}
.set_seq { background:url(../images/placeholder.png) no-repeat; width:135px; height:34px; border:0px;}
.heading
{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:38px;
	color:#fff;
	text-align:center;
	letter-spacing:0.4em;
}
.sub_heading
{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:16px;
	color:#fff;
	text-align:center;
	
}

.add_prod_label{ background:#fff; border:1px solid #d0d0d0; border-right:0px !important; padding-left:20px;}
.add_prod_cont{ background:#f9f9f9; border:1px solid #d0d0d0; border-left:0px !important; padding-left:20px;}
.add_produ_btn{ background:#f9f9f9; border:1px solid #d0d0d0; border-right:0px !important; padding-left:20px;}


.add_product input[type="text"]{ border:1px solid #aeaeae; width:286px; height:30px; float:left; background:#fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.add_product select{ border:1px solid #aeaeae; width:286px; height:30px; float:left; background:#fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; font-size:12px; color:#464646; border-radius: 5px; padding:5px;}
.add_product input[type="radio"]{ float:left; margin-right:6px; width:20px;}
.add_product input[type="submit"]{ background:url(../images/btn_save.png) no-repeat; width:92px; height:34px; font-size:14px; font-weight: bold; text-transform: uppercase; color: #fff; border:0px; cursor:pointer;}
.add_product input[type="button"]{ background:url(../images/btn_save.png) no-repeat; width:92px; height:34px; font-size:14px; font-weight: bold; text-transform: uppercase; color: #fff; border:0px; cursor:pointer;}
.add_product p{ color:#797979; float:left; margin-right:20px;}

.product input[type="submit"]{ background:url(../images/btn_save.png) no-repeat; width:92px; height:34px; font-size:14px; font-weight: bold; text-transform: uppercase; color: #fff; border:0px; cursor:pointer;}
.product span.btn_filter{ background:url(../images/btn_save.png) no-repeat; width:92px; height:34px; font-size:14px; font-weight: bold; text-transform: uppercase; color: #fff; border:0px; cursor:pointer; text-align: center; line-height:34px;float: left;}
.product span.btn_filter_red{ background:url(../images/btn_cancel.png) no-repeat; width:92px; height:34px; font-size:14px; font-weight: bold; text-transform: uppercase; color: #fff; border:0px; cursor:pointer; text-align: center; line-height:34px;float: left;}

.pad_lft { padding-left: 20px;}
.pad_btm{ padding-top: 5px; padding-bottom: 5px;}
img{ border:0px; }
.toggle{
    display: none;
}
.trigger{
    cursor: pointer;
}
.product_child{
    display: none;
}
.product_trigger{    
}

.select_box{
/*width: 150px;
height: 28px;
background: url(../images/seminar_select_box.jpg) no-repeat;
float: right;
margin-top: 14px;
overflow: hidden;*/

width: 80px;
height: 22px;
float: right;
margin-top: 2px;
overflow: hidden;
border: solid #ccc 1px;
background: #fff;
border-radius: 5px;
color: #5F5F5F;
}

.inline-button
{
border: none;
color: #fff;
background-color: #8B8B8B !important;
font-size: 9px;
font-weight: bold;
height: 18px;
width: 46px;
float: left;
margin: 3px;
border-radius: 3px;
cursor: pointer;
font-family: 'proxima_nova_ltbold';
text-transform: uppercase;
}

.inline-text{
    border: 1px solid #ccc;
    width:40px;
}

.inline-text-cus{
    border: 1px solid #ccc;
    width:118px;
}


.inline-text-prod{
    border: 1px solid #ccc;    
}

.dreadcrum
{
    color: #8B8B8B;
}

.inline-text-prod-ref {
border: 1px solid #ccc;
height: 20px;
}

#to_tal{
    display: block !important; 
    margin-bottom: 50px;
}

ul
{
list-style-type: none;
}

.inline-text-cus{height: 20px; float: left; width: 95px;}

.edit_fname{cursor: pointer;}
.edit_lname{cursor: pointer;}
.edit_email{cursor: pointer;}
.edit_phone{cursor: pointer;}

 

 
.select_customer1
{
     background: #888;
     color:#fff;
}
 